# SPDX-FileCopyrightText: 2023 Connor Feeley git@cfeeley.org
# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: 2023 Sridhar Ratnakumar
# SPDX-License-Identifier: BSD-3-Clause

result
.direnv
*.qcow2